<%@ page contentType="text/html; charset=iso-8859-1" language="java" errorPage="" %>
<%@ page import="java.util.*,java.awt.*,java.io.*, java.text.*, java.net.*;" %>


<%
HttpSession sesion;
response.setHeader("Cache-Control","no-cache");
eci.adjuntar adjuntar;

String spath ="correo";
//  String operacion = new String((String)request.getParameter("on"));

if (spath.equals("p"))
    out.println("Error");
else{
    
  //  adjuntar = new eci.adjuntar("", "C:/Sun/Backup");
    adjuntar = new eci.adjuntar("concursomecanica", "/usr/local/SUN/mecanica");
    String operacion = request.getParameter("on");
    if(operacion == null)
        operacion = "n";
    else{
        if (operacion.compareTo("ar")==0){
            out.println("entra");
            String[] chElim;
            int lngCh;
            Integer idRec;
            chElim = request.getParameterValues("chElim");
            lngCh = chElim.length;
            for ( int i=0 ; i < lngCh ; i++ ){
                if (chElim[i].compareTo("null")!= 0){
                    adjuntar.rmArchivo( (String)chElim[i]);
                }
           
            }%>

<html>
    <head>
        <meta target="principal" http-equiv="Refresh" content="0; url=file:///C|/J2EE/inscripciones/web/jsp/Mecanica?on=n&amp;spath=spath">
    </head>
</html>

<%
    }else{
%>
<html>
    <head>
        <title>Formulario de Inscripci&oacute;n</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <script language="JavaScript">  
<!--


function convertTildes(str) {
var out = "", flag = 0;
for (i = 0; i < str.length; i++) {
	if ((str.charAt(i)!="í") && (str.charAt(i)!="á") && (str.charAt(i)!="é") && (str.charAt(i)!="ó") && (str.charAt(i)!="ú")
		 && (str.charAt(i)!="Á") && (str.charAt(i)!="É") && (str.charAt(i)!="Í") && (str.charAt(i)!="Ó") && (str.charAt(i)!="Ú")){
		out += str.charAt(i);
		flag = 0;
    }
	else {
		if((flag == 0) && (str.charAt(i)=="í")){
		  out += "i";	
		  flag = 1;
		}
		if((flag == 0) && (str.charAt(i)=="á")){
		  out += "a";	
		  flag = 1;
		}	
		if((flag == 0) && (str.charAt(i)=="é")){
		  out += "e";	
		  flag = 1;
		}		
		if((flag == 0) && (str.charAt(i)=="ó")){
		  out += "o";	
		  flag = 1;
		}
		if((flag == 0) && (str.charAt(i)=="ú")){
		  out += "u";	
		  flag = 1;
		}
		if((flag == 0) && (str.charAt(i)=="Á")){
		  out += "A";	
		  flag = 1;
		}
		if((flag == 0) && (str.charAt(i)=="É")){
		  out += "E";	
		  flag = 1;
		}
		if((flag == 0) && (str.charAt(i)=="Í")){
		  out += "I";	
		  flag = 1;
		}	
		if((flag == 0) && (str.charAt(i)=="Ó")){
		  out += "O";	
		  flag = 1;
		}
		if((flag == 0) && (str.charAt(i)=="Ú")){
		  out += "U";	
		  flag = 1;
		}																							 
	}
}
return out;
}



function ValidarMod(){  
var max = document.fmArchivos.chElim.length  
var j = 0  
    for ( i=0 ; i<max ; i++ ){  
            if  (document.fmArchivos.chElim[i].checked == true)  
                    j++ ;  
    }  
    if ( j = 0 ){  
            alert("Para modificar tiene que seleccionar un recurso")  
    }else if ( j > 1 ){  
            alert("Solo puede seleccionar un campo")  
    }else{  
            document.action = 'LA OTRA ACCION'  
            document.submit()  
    }	  
}  


function ValidarChk(temp){  
    var max = document.fmArchivos.chElim.length  
    var vall = false
    for ( i=0 ; i<max ; i++ ){  
            if  (document.fmArchivos.chElim[i].checked == true)  
                    vall =true  
    }  
    if(temp == 1){
        vall = true
    }
    if (vall == true)  
            document.fmArchivos.submit()  
    else  
            alert ("Para eliminar tiene que seleccionar algun recurso")  
}  

function chkAll(){  
    var max = document.fmArchivos.chElim.length  
    var vall   
    if (document.fmArchivos.chAll.checked == true)  
            vall = true  
    else  
            vall = false	  
    for ( i=0 ; i<max ; i++ ){  
            document.fmArchivos.chElim[i].checked = vall  
    }  
}  


function chkUn(){  
    var max = document.fmArchivos.chElim.length  
    var vall = true  
    if (document.fmArchivos.chAll.checked == true)  
            document.fmArchivos.chAll.checked = false  
    for ( i=0 ; i<max ; i++ ){  
            vall = vall && document.fmArchivos.chElim[i].checked  
    }  
    if (vall == true)  
            document.fmArchivos.chAll.checked = true  
}  



    function validar(){
	
     if(document.forminsc.nombres.value == "" ) {
    alert("Por favor digite el nombre ");
    document.forminsc.nombres.style.backgroundColor= '#ffcc00';
        document.forminsc.nombres.focus();
    return false;
  }
  
  if(document.forminsc.apellidos.value == "" ) {
    alert("Por favor digite los apellidos");
    document.forminsc.apellidos.style.backgroundColor= '#ffcc00';
        document.forminsc.apellidos.focus();
    return false;
  }
  
   if(document.forminsc.doc.value == ""  ) {
    alert("Por favor digite el documento de identidad y confirlmelo");
    document.forminsc.doc.style.backgroundColor= '#ffcc00';
        document.forminsc.doc.focus();
    return false;
  }
  
    if(document.forminsc.doc.value != document.forminsc.doc2.value){
    alert("Los números de documento no concuerdan");
    document.forminsc.doc.style.backgroundColor= '#ffcc00';
    document.forminsc.doc2.style.backgroundColor= '#ffcc00';
    document.forminsc.doc.focus();
    return false;
  }
  
 if(document.forminsc.edad.value == ""  ) {
    alert("Por favor digite la edad");
    document.forminsc.edad.style.backgroundColor= '#ffcc00';
        document.forminsc.edad.focus();
    return false;
  }
  
  if(document.forminsc.tel.value == ""  ) {
    alert("Por favor digite el Número telefónico");
    document.forminsc.tel.style.backgroundColor= '#ffcc00';
        document.forminsc.tel.focus();
    return false;
  }
  
  
  
  if(isNaN(document.forminsc.edad.value )){
			alert("Edad debe ser un número");
                        document.forminsc.edad.style.backgroundColor= '#ffcc00';
                        document.getElementById("edad").focus();
			return false;
	 }
         
             if(isNaN(document.forminsc.tel.value )){
			alert("Teléfono debe ser un numérico");
                        document.forminsc.tel.style.backgroundColor= '#ffcc00';
                        document.getElementById("tel").focus();
			return false;
	 }
  
       if(document.forminsc.colegio.value == ""  ) {
    alert("Por favor digite el nombre del colegio");
    document.forminsc.colegio.style.backgroundColor= '#ffcc00';
        document.forminsc.colegio.focus();
    return false;
  }
  
   if ((document.forminsc.correo.value.indexOf ('@', 0) == -1)||(document.forminsc.correo.value.length < 5)) {
    alert("Escriba una dirección de correo válida en el campo \"Correo electrónico\".");
    return (false);
  }
  
   if ( !document.forminsc.grado[0].checked && !document.forminsc.grado[1].checked) {
			alert("Debe seleccionar el grado.");
                        document.forminsc.grado[0].style.backgroundColor= '#ffcc00';
			return false;
	} 
        
         if ( !document.forminsc.categoria[0].checked && !document.forminsc.categoria[1].checked) {
			alert("Debe seleccionar la categoria a la cual se va a inscribir .");
                        document.forminsc.categoria[0].style.backgroundColor= '#ffcc00';
			return false;
	} 
    
    
		document.forminsc.action = "enviarCorreoEst";
		return true;	
	}
    

    function adjuntar(){
            document.forminsc.action = "Backup";
            //window.open("", "ventanaImpreNotas", "toolbar=no,scrollbars=yes,location=no,directories=yes,status=no,menubar=yes,resizable=yes");
            ///document.formulario.submit();
    }


    
    
//-->
        </script>  
    </head> 
    <script language="javascript" type="text/javascript" src="file:///C|/J2EE/inscripciones/web/jsp/jscript/comun.js"></script>
    <link href="file:///C|/J2EE/inscripciones/web/jsp/css/comun.css" rel="stylesheet" type="text/css">
    
    
    <body>
        <table width="680" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF" bgcolor="#FFFFFF">
        <tr>
        
        <td align="center" bgcolor="#FFF0B3"> <fieldset><legend class="textocom"><img src="file:///C|/J2EE/inscripciones/web/jsp/img/formulario.jpg" width="750" height="58"></legend> </fieldset>
        
        <p><b><font size="2">Por favor adjunte el archivo correspondiente a la 
                    propuesta, haciendo clik en el bot&oacute;n adjuntar archivo; luego 
                    ingrese los datos correspondientes al formulario y haga click en enviar 
        correo, para que sus datos puedan ser enviados correctamente.</font></b></p>
        
        
        
        <% 
        if(operacion.equals("n")){
            int i = 0;
        %>
        <table width="550" border="0" align="center" cellspacing="0" class="textocom"> 
            <tr> 
                <td width="120" valign="top">
                <div align="right"><strong>Archivos Subidos:</strong></div></td>
                <td>
                    <form name="fmArchivos" method="post" action="file:///C|/J2EE/inscripciones/web/jsp/Mecanica?on=ar&spath=correo"> 
                        <table width="100%" border=1 cellspacing="0" class="textocom">
                            <tr> 
                                <td width="10%"> 
                                    <div align=center> 
                                        <input type="checkbox" name="chAll" onClick="chkAll()">
                                    </div> 
                                </td>
                                <td width="50%"> 
                                    <div align=center><b>Nombre</b></div>
                                </td>
                                <td width="20%"> 
                                    <div align="center"><strong>Tama&ntilde;o</strong></div>
                                </td>
                                <td width="20%"> 
                                    <div align="center"><strong>Fecha</strong></div>
                                </td>
                                
                            </tr>
                            <%
                            for (i=0 ; i < adjuntar.nArchivos() ; i++ ){
                DateFormat dateFormatter = DateFormat.getDateInstance(DateFormat.MEDIUM);
                Date fec = new Date(adjuntar.fecArchivo(i));
                            %>
                            <tr> 
                                <td width="10%"> 
                                    <div align="center">  
                                        <input type="checkbox" name="chElim" onClick="chkUn()" value = "<%=adjuntar.nomArchivo(i)%>"> 
                                    </div> 
                                </td>
                                <td> 
                                    <div align="center"> </div>
                                    <div align="center"><%=adjuntar.nomArchivo(i)%> </div>
                                </td>
                                <td width="20%"> 
                                    <div align="center"><%=adjuntar.tamarchH(i)%> </div>
                                </td>
                                <td width="20%"> 
                                    <div align="center"><%=dateFormatter.format(fec)%></div>
                                </td>
                            </tr>
                            <%          }
                            %>
                            <tr> 
                                <td> 
                                    <div align="right"><strong>Tama&ntilde;o total: </strong></div>
                                </td>
                                <td> 
                                    <div align="center"><strong><%=adjuntar.tamtotH()%></strong></div>
                                </td>
                                <td width="20%">&nbsp;</td>
                            </tr>
                            <tr> 
                                <td colspan="4"> 
                                    <div align="left">
                                        <input type="button" name="eliminar" value="Eliminar" onClick=""  class="boton"> 
                                    </div>
                                    <div align="center"> </div>
                                </td> 
                            </tr>
                            <tr> 
                                <td colspan="3">
                                    <div align="left"></div>
                                </td>
                            </tr>
                            
                        </table> 
                    </form> 
                    
                    <table width="550" border="0" align="center" cellspacing="0" class="textocom">
                        <tr> 
                            <td width="120" valign="top"> 
                                <div align="left">Adjuntar Archivos:</div>
                            </td>
                            <form enctype="multipart/form-data" method="post" action="file:///C|/J2EE/inscripciones/web/jsp/FileUpload?on=n&spath=correo&fpath=/usr/local/SUN/mecanica">
                                <input name="spath" type="hidden" id="spath" value="correo">
                               
                                <td> 
                                    <table width="100%" border="1" cellspacing="0">
                                        <tr> 
                                            <td> 
                                                <p align="left"> 
                                                    <input type="file" size="30" maxlength="300" name="file1" class="campotext">
                                                </p>
                                                <p> 
                                                    <center>
                                                        <input type="submit" name="uploadservlet" value="Adjuntar Archivo"  class="boton">
                                                        </center
                                                ></p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </form>
                        </tr>
                    </table>
                    <%
                    }else{
                    %>
                    <div align="center" class="textocom"><strong>Ha ocurrido un error al subir el archivo: </strong>
                        <br>
                        - Recuerde que el tama&ntilde;o del archivo no debe ser superior a 50 Mb<br>
                        - Compruebe la ruta de la cual esta tomando el archivo<br>
                        - Evite las rutas largas<br>
                        - <em><font color="#990000" size="1"><%=operacion%></font></em><br>
                    <a href="file:///C|/J2EE/inscripciones/web/jsp/Mecanica?on=n&spath=<%=spath%>">Volver</a></div>
                    <%
                    }
                    %>
                    <form action="" method="post" name="forminsc" id="forminsc">
                        
                        <table width="95%" border="1" cellpadding="3" cellspacing="0" bordercolor="#FFCC00">
                            <tr bgcolor="#FFF0B3" class="resaltados"> 
                                <td colspan="4" bgcolor="#FFCC00">Nombres:</td>
                                <td width="26%"><b><font size="2"> 
                                            <input name="nombres" type="text" class="campotext" id="nombres" size="20" maxlength="20">
                                </font></b></td>
                                <td width="14%" bgcolor="#FFCC00">Apellidos</td>
                                <td width="22%"><b><font size="2"> 
                                            <input name="apellidos" type="text" class="campotext" id="apellidos" size="20" maxlength="20">
                                </font></b></td>
                            </tr>
                            <tr bgcolor="#FFF0B3" class="resaltados"> 
                                <td colspan="4">Documento de Identidad</td>
                                <td width="26%"><b><font size="2"> 
                                            <input name="doc" type="text" class="campotext" id="doc" size="18" maxlength="20">
                                </font></b></td>
                                <td width="14%">Confirmar Documento</td>
                                <td width="22%"><b><font size="2"> 
                                            <input name="doc2" type="text" class="campotext" id="doc2" size="20" maxlength="20">
                                </font></b></td>
                            </tr>
                            <tr bgcolor="#FFF0B3" class="resaltados"> 
                                <td height="31" colspan="4">Edad</td>
                                <td width="26%" height="5"><b><font size="2"> 
                                            <input name="edad" type="text" class="campotext" id="edad" size="3" maxlength="3">
                                </font></b></td>
                                <td width="14%" height="31">Tel&eacute;fono</td>
                                <td width="22%" height="31"><b><font size="2"> 
                                            <input name="tel" type="text" class="campotext" id="tel" size="12" maxlength="12">
                                </font></b></td>
                            </tr>
                            <tr bgcolor="#FFF0B3" class="resaltados"> 
                                <td colspan="5">Colegio: <b><font size="2"> 
                                            <input name="colegio" type="text" class="campotext" id="colegio" size="40" maxlength="40">
                                </font></b></td>
                                <td colspan="2"><b><font size="2"> </font></b></td>
                            </tr>
                            <tr bgcolor="#FFF0B3" class="resaltados"> 
                                <td colspan="7"> 
                                    <table width="100%" border="0" cellpadding="2" cellspacing="0">
                                        <tr class="resaltados"> 
                                            <td width="8%">Grado</td>
                                            <td width="15%">D&eacute;cimo: 
                                                <input type="radio" name="grado"   value="10">
                                            </td>
                                            <td width="17%">Once: 
                                                <input type="radio" name="grado"  value="11">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr bgcolor="#FFF0B3" class="resaltados"> 
                                <td colspan="7">Correo electr&oacute;nico: <b><font size="2"> 
                                            <input name="correo" type="text" class="campotext" id="correo size="30" maxlength="30">
                                       </font></b></td>
                            </tr>
                            <tr bgcolor="#FFF0B3" class="resaltados">
                                <td colspan="7">
                                    <table width="100%" border="0" cellpadding="2" cellspacing="0">
                                        <tr class="resaltados"> 
                                            <td width="8%">Categor&iacute;a</td>
                                            <td width="15%">B&aacute;sica: 
                                                <input type="radio" name="categoria"   value="B">
                                            </td>
                                            <td width="17%">Avanzada: 
                                                <input type="radio" name="categoria"  value="A">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr bgcolor="#FFF0B3" class="resaltados"> 
                                <td colspan="7"> 
                                    <div align="center"> 
                                        <input name="bi" type="submit" class="boton" id="bi" value="Enviar Correo" onClick="javascript: return validar();">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                    
                </td>
            </tr>
            
        </table>
        <table width="640" border="0" align="center" cellspacing="0">
            <tr class="textocom">
                <td height="22"> 
                    
                    <div align="center"></div>
                </td>
            </tr>
            <tr class="textocom">
                <td height="22">
                    <div align="right">
                        
                    </div>
                </td>
            </tr>
        </table>
    </body> 
</html> 
<%
}
        }
}
%>
