@charset "iso-8859-1";
/* CSS Document */
*{
	padding:0;
	margin:0;
	}
body {
	background:#F4F4F4;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	}
#container {
	background:#FFF;
	width: 750px;
	padding:0;
	margin:0 auto;
	border-left:#CCC 1px solid;
	border-right:#CCC 1px solid;
	box-sizing:border-box;
	}
.titulo {
	width:100%;
	background:#FFFAF4;
	padding:10px 25px;
	box-sizing:border-box;
	}
.osiris {
	float:right;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:0 31px 0 0;
	color:#666;
	}
section {
	background:#FFF2E5;
	padding:10px 0 20px 0;
	box-sizing:border-box;
	}
h2{
	font-family:Verdana, Geneva, sans-serif;
	font-size:15px;
	color:#900;
	font-weight:lighter;
	}
h1{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	color:#900;
	font-weight:lighter;
        text-align: center;
	}
error{
	font-family:Verdana, Geneva, sans-serif;
	font-size:15px;
	color:#900;
	font-weight:lighter;
        text-align: center;
	}

#formulario {
	width:85%;
	margin:20px auto 20px auto;
	padding:15px;
	border:1px solid #999;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	-ms-border-radius: 7px;
	box-shadow: 3px 3px 7px #888888;
	-webkit-box-shadow: 3px 3px 7px #888888;
	-moz-box-shadow: 3px 3px 7px #888888;
	-o-box-shadow: 3px 3px 7px #888888;
	-ms-box-shadow: 3px 3px 7px #888888;
	background:#FFF;
}
input[type=text], input[type=password]{
	width:95%;
	margin:0 0 12px 0;
	padding:5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#666;
	}
input[type=number] {
	width:3%;
	margin:0 0 12px 0;
	padding:5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#666;
	}
input[name=cargo], input[name=titulo], input[name=empresa], input[name=email], input[name=telefono], input[name=celular], input[name=firma], input[name=sello] {
	width:45%;
	margin:0 0 12px 0;
	padding:2px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#666;
	}
input[name=anos] {
	width:7%;
	margin:0 0 12px 0;
	padding:5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#666;
	}
select, option {
	margin:0 0 12px 0;
	padding:3px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#666;
	}
input[type=submit]{
	padding:5px;
	text-align:center;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	background:#900;
	color:#FFF;
	border:none;
	margin:0 0 0 258px;
}
input[type=submit]:hover{
	background:#666;        
	cursor:pointer;        
	}
table {
	width:70%;
	margin-left:20%;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#666;
	}
table.considera {
	width:90%;
	margin-left:5%;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#666;
	}
table.resumen {
	width:50%;
	margin-left:20%;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#666;
	}
table.resumen td{
	padding:3px;
	}
label {
	padding:5% 0;
	}
table td{
	padding:7px;
	}
footer {
	width:100%;
	background:#900;
	color:#FFF;
	box-sizing:border-box;
	overflow:hidden;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:131%;
	padding:0 0 0 80px;
	box-sizing:border-box;
	}
footer span.programa {
	float:left;
	padding:10px 30px 10px 10px;
	margin:70px 0;
	text-align:center;
	}
footer span.direccion {
	float:left;
	border-left: solid #fff 1px;
	margin:20px 0;
	padding:10px 10px 10px 30px;
	}
        
input.dato{
	width:80%;
	margin:0 0 12px 0;
	padding:3px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#666;
       
	}
        
        input.dato1{
	width:40%;
	margin:0 0 12px 0;
	padding:3px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#666;
       
	}
        
        input[type=submit], input[type=button], input[type=reset]{
            width: 20%;
            padding:10px;
            text-align:center;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -o-border-radius: 5px;
            -ms-border-radius: 5px;
            font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
            font-size:16px;
            font-weight:bold;
            background:#900;
            color:#FFF;
            border:none;
            }
input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover{
            background:#666;
            cursor:pointer;
            }

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}